.banner {
  position: relative;
  height: 100vw;
  width: 100%;
  background: url("../../assets/bg-banner.png");
  background-size: cover;
  background-position: center;
}

.banner-Info {
}

.logo {
  position: absolute;
  left: 9.03%;
  right: 63.19%;
  top: 13.43%;
  bottom: 83.6%;
}

h1 {
  position: absolute;
  width: 700px;
  height: 160px;
  left: 130px;
  top: 373px;
  font-family: Gotham;
  font-style: normal;
  font-weight: 300;
  font-size: 64px;
  line-height: 80px;
  /* or 125% */

  color: #ffffff;
}
